.kraken {

	&-form-table {
		max-width: 800px;
	}

	&-status-error {
		color: #900;
	}

	&-status-success {
		color: #3e9429;
	}

	&-button {

		&-optimize-image,
		&-bulk-optimize {

			.spinner {
				display: none;
				margin-right: 0;

				&.is-active {
					display: inline-block;
				}
			}
		}
	}

	&-stats {

		&-action {
			position: relative;

			&-reset-image {
				display: inline-block;

				.spinner {
					margin-top: 0;
				}
			}
		}

		&-action-popup {
			position: absolute;
			top: 0;
			right: 102%;
			width: 200px;
			transform: translateY(-50%);
			padding: 10px;
			border-radius: 8px;
			background-color: #444;
			visibility: hidden;

			p {
				color: #fff;
			}

			&.is-visible {
				visibility: visible;
			}

			&-close {
				position: absolute;
				top: -10px;
				right: -10px;
				padding: 0;
				width: 25px;
				height: 25px;
				border-radius: 25px;
				line-height: 25px;
				cursor: pointer;
				background: #444;
				color: #fff;
			}
		}
	}

	&-modal {
		background: rgba(0, 0, 0, 0.7);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999999999;
		display: none;

		&.is-active {
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}
	}

	&-bulk {

		&-optimizer {
			width: 100%;
			max-width: 600px;
			background: #fff;
			border: 1px solid #ddd;

			.kraken-modal & {
				margin: 0 10px 10px 10px;
			}

			&-wrapper {
				padding-top: 20px;

				&.kraken-modal {
					padding-top: 50px;
				}
			}
		}

		&-heading {
			margin: 0;
		}

		&-close-modal {
			display: none;
			font-size: 30px;
			color: #454545;
			padding: 0;
			background: transparent;
			border: none;
			line-height: 1;
			width: 25px;
			height: auto;
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			cursor: pointer;

			.kraken-modal & {
				display: block;
			}
		}

		&-header {
			font-size: 16px;
			font-weight: 700;
			padding: 15px 50px 15px 20px;
			border-bottom: 1px solid #ddd;
			margin: 0;
			background: #fafafa;
			position: relative;
		}

		&-actions {
			display: flex;
			align-items: center;

			.progress {
				margin-left: 15px;
				display: none;
			}

			&.is-active {

				.progress {
					display: block;
				}
			}
		}

		&-images {
			padding: 15px 20px;

			.kraken-modal & {
				max-height: calc(100vh - 200px);
				overflow: hidden;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
			}
		}
	}

	&-bulk-table {
		width: 100%;
		border-collapse: collapse;
		font-size: 1em;

		td {
			padding: 10px 20px;
			border: 1px solid #ddd;
		}

		&-header td {
			background: #fafafa;
		}
	}
}
